
//Blue
$primary-blue: #449bec;

// grayscale
$grayscale200: #F3F4F6;
$grayscale300:#E8E9EB;
$grayscale400: #C2C8CD;
$grayscale500: #929CA3;
$Grayscale600:#61707A;
$Grayscale700:#314450;
$grayscale800: #001827;

//gray
$gray700: #314450;
$gray500: #8d9091;
$gray300: #c6c8c8;
$gray200: #e5e6e6;
$gray100: #f5f5f5;
$neutral01: #051730;
$neutral05: #e0e4e9;

// NEUTRALS
$white: #ffffff;
$black: #1e1f1f;
$neutral40: #CED4DA;


// RED PRIMARY

$primary700: #931710;
$primary600: #ae1b13;
$primary500: #d1281f;
$primary50: #fbebea;

// SECONDARY INFORMATIVE

$secondary-text: #007980;
$secondary-original: #00aebd;
$secondary-trazo: #7edfe6;
$secondary-masa: #e0f7f9;

// ERROR

// SUCCESS

// WARNING
$warning-masa: #fdf2e3;
$warning-original: #ef9924;
$warning-trazo: #efd2a9;
$warning-text: #8f570a;
